
.head-img-grid {
    height: 591px;
}

.head-img-grid img {
    height: 100%!important;
    width: 100%;
    object-fit: cover;
}

.carousel.slide, .carousel-inner, .carousel-item {
    height: 100%;
}

.head-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #bbe8ff;
    padding-left: 4%;
    padding-bottom: 3%;
}

.header {
    position: relative;
}

.head-text:before {
    content: "";
    position: absolute;
    left: 27px;
    top: 13%;
    bottom: 5%;
    width: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,bae8ff+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(186,232,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,232,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(186,232,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bae8ff',GradientType=0 ); /* IE6-9 */
}

.head-text h2 {
    font-weight: 200;
    font-size: 1.5em;
}

.head-text h1 {
    color: #adfffd;
}

/******* Weeekly Portfolio ******/

.row-head {
    position: relative;
    height : 300px;
}


.dark-overlay {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
     /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      /* IE6-9 */
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.69);
}

.row-head h2 {
    position: absolute;
    color: #acfffe;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2vw;
    font-size: 3em;
}

.row-head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-box {
    display: block;
    position: relative;
    padding-top: 100%;
}

.abso-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.info-box {
  position: absolute;
  bottom: 100%;
  transition: all .5s ease;
  z-index: 2;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 26px 45px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 73%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 73%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 73%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.info-box img {
    50%: 41px
    width:;
    width: 50%;
}

.info-box p, .info-box h4 {
    color: #fff;
}


.row-head h2:after {
    position: absolute;
    content: "";
    left: 10%;
    width: 80%;
    bottom: 25%;
    height: 1px;
    background: #abffff;
}

.row-head h2:before {
    content: "";
    position: absolute;
    top: 25%;
    height: 1px;
    left: 10%;
    width: 80%;
    background: #abffff;
}

.top-half {
    position: absolute;
    top: 0;
    bottom: 50%;
}

.top-half img, .bottom-half img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.top-half, .bottom-half {
    left: 0;
    right: 0;
    position: absolute;
    transition: all .5s ease-in-out;
}

.bottom-half {
    top: 50%;
    bottom: 0;
}


.abso-inner:hover .top-half {
    bottom: 25%;
    z-index: 1;
}

.abso-inner:hover .info-box {
  bottom: 0;
  box-shadow: 0 0 100px 81px #abffff;
}


/******* About me section *******/


div#about-me .row {
    height: 500px;
}

#about-tab, .tab-content, .tab-pane, .tab-pane .container-fluid {
    height: 100%;
}

div#about-tab a {
    flex-grow: 1;
}

div#about-me {
    background: #000;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-radius: 0!important;
    border-right: 1px solid;
    color: #abffff;
}

.nav-link:last-of-type {
    border-bottom: none;
}

body {
    color: #abffff;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    bottom: 372px;
    background: rgba(0, 0, 0, 0.77);
    top: 0;
    /* border-top-right-radius: 120px; */
    /* border-top-left-radius: 120px; */
    left: 0;
    right: 0;
}

.jobs .col-md-6 {
    justify-content: center;
}

.jobs .col-md-6 div, .jobs .col-md-6 span {
    padding: 15px;
}

.jobs .col-md-6 div {
    background: rgba(255, 255, 255, 0.29);
}

.jobs .col-md-6 span {
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-left: none;
}

.jobs .col-md-6:first-of-type {
    text-align: right;
}

.jobs .col-md-6:last-of-type {
    text-align: left;
}
