
.head-img-grid {
    height: 591px;
}

.head-img-grid img {
    height: 100%!important;
    width: 100%;
    object-fit: cover;
}

.carousel.slide, .carousel-inner, .carousel-item {
    height: 100%;
}

.head-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #bbe8ff;
    padding-left: 4%;
    padding-bottom: 3%;
}

.header {
    position: relative;
}

.head-text:before {
    content: "";
    position: absolute;
    left: 27px;
    top: 13%;
    bottom: 5%;
    width: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,bae8ff+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(186,232,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,232,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(186,232,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bae8ff',GradientType=0 ); /* IE6-9 */
}

.head-text h2 {
    font-weight: 200;
    font-size: 1.5em;
}

.head-text h1 {
    color: #adfffd;
}

/******* Weeekly Portfolio ******/

.row-head {
    position: relative;
    height : 300px;
}


.dark-overlay {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
     /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      /* IE6-9 */
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.69);
}

.row-head h2 {
    position: absolute;
    color: #acfffe;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2vw;
    font-size: 3em;
}

.row-head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-box {
    position: relative;
    padding-top: 100%;
}

.abso-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.info-box {
    position: absolute;
    bottom: 100%;
    transition: all .5s ease;
    z-index: 2;
}

.abso-inner:focus .info-box {
    bottom: 0;
}

.row-head h2:after {
    position: absolute;
    content: "";
    left: 10%;
    width: 80%;
    bottom: 25%;
    height: 1px;
    background: #abffff;
}

.row-head h2:before {
    content: "";
    position: absolute;
    top: 25%;
    height: 1px;
    left: 10%;
    width: 80%;
    background: #abffff;
}

.top-half {
    position: absolute;
    top: 0;
    bottom: 50%;
}

.top-half img, .bottom-half img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.top-half, .bottom-half {
    left: 0;
    right: 0;
    position: absolute;
    transition: all .5s ease-in-out;
}

.bottom-half {
    top: 50%;
    bottom: 0;
}

.bottom-half:hover {
    top: 25%;
}

.top-half:hover {
    bottom: 25%;
    z-index: 1;
}

.abso-inner:hover .info-box {bottom: 0;}
